<section class="horizontal-form">
  {{#accordion-list showExpandAll=false as | al expandFn |}}
    {{!-- This line shows the driver title which you don't have to change it --}}
    <div class="over-hr mb-20"><span>{{driverOptionsTitle}}</span></div>

    <div class="row box mt-20">
      <h4>API Access</h4>
      <div class="row">
        <div class="col span-2 col-inline">
          <label>Organization</label>
        </div>
        
        <div class="col span-4">
          {{input type="text"
              class="form-control"
              placeholder="Scaleway Organization ID"
              value=config.organization
           }}
        </div>

        <div class="col span-2 col-inline">
          <label>Token</label>
        </div>
        <div class="col span-4">
          <div class="input-group">
            {{input type="text"
              class="form-control"
              placeholder="Scaleway API Token"
              value=config.token
            }}
          </div>
        </div>
      </div>
    </div>
    
    <div class="row box mt-20">
      <h4>Instance Options</h4>
      <div class="row">
        <div class="col span-2 col-inline">
          <label>Instance Name</label>
        </div>

        <div class="col span-4">
          {{input type="text"
            class="form-control"
            placeholder="Optionally specify the instance name"
            value=config.name
          }}
        </div>

        <div class="col span-2 col-inline">
          <label>Region</label>
        </div>
        <div class="col span-4">
          <div class="input-group">
            {{input type="text"
              class="form-control"
              placeholder="Specify the location (par1,ams1)"
              value=config.region
            }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col span-2 col-inline">
          <label>Image</label>
        </div>

        <div class="col span-4">
          {{input type="text"
            class="form-control"
            placeholder="Specify the image"
            value=config.image
          }}
        </div>

        <div class="col span-2 col-inline">
          <label>Type</label>
        </div>
        <div class="col span-4">
          <div class="input-group">
            {{input type="text"
              class="form-control"
              placeholder="Specify the commercial type"
              value=config.commercialType
            }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col span-2 col-inline">
          <label>Additional Volumes</label>
        </div>

        <div class="col span-4">
          {{input type="text"
            class="form-control"
            placeholder="Attach additional volume (e.g., 50G)"
            value=config.volumes
          }}
        </div>
      </div>
    </div>
    
    <div class="row box mt-20">
      <h4>Network</h4>
      <div class="row">
        <div class="col span-2 col-inline">
          <label>IP Address</label>
        </div>

        <div class="col span-4">
          {{input type="text"
             class="form-control"
             placeholder="Optionally specify the IP Address"
             value=config.ip
           }}
        </div>

        <div class="col span-2 col-inline">
          <label>IPv6</label>
        </div>
        <div class="col span-4">
          <div class="input-group">
            {{input type="checkbox"
               checked=config.ipv6
             }}
          </div>
        </div>
      </div>
    </div>

    
    <div class="row box mt-20">
      <h4>Debug</h4>
      <div class="row">
        <div class="col span-2 col-inline">
          <label>Enable Debugging</label>
        </div>

        <div class="col span-4">
          {{input type="checkbox"
            checked=config.debug
          }}
        </div>
      </div>
    </div>

    {{!-- This following contains the Name, Labels and Engine Options fields --}}
    <div class="over-hr"><span>{{templateOptionsTitle}}</span></div>

    {{form-name-description
      model=model
      nameRequired=true
    }}

    {{form-user-labels
      initialLabels=labelResource.labels
      setLabels=(action 'setLabels')
      expandAll=expandAll
      expand=(action expandFn)
    }}

    {{form-engine-opts
      machine=model
      showEngineUrl=showEngineUrl
    }}
  {{/accordion-list}}

  {{!-- This component shows errors produced by validate() in the component --}}
  {{top-errors errors=errors}}

  {{!-- This component shows the Create and Cancel buttons --}}
  {{save-cancel save="save" cancel="cancel"}}
</section>
